/* -------------------------------index----------------------------------------------- */

* {
    /* outline: 1px solid red; */
}

body {
    position: relative;
}

header {
    /* background-color: #CDB892; */
    position: fixed;
    /* top:-48px; */
    width: 100%;
    z-index: 100;
}

main {
    background-image: url(../images/img-BG-chalkboard.png);
}

h3 {
    color: #FFD9AC;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 1.6px;
    line-height: 1.6;
}

h4 {
    color: #FFD9AC;
    font-size: 20px;
    /* padding: 15px 15px; */
    letter-spacing: 1.6px;
    line-height: 1.6;
}

p {
    /* font-size: 2vmin; */
    font-size: 16px;
    color: #E6D6C3;
    padding: 10px;
    letter-spacing: 1.6px;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.scaleX-1{
    transform: scaleX(-1);
}

.h-100{
    height: 100%;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
    /* margin: auto; */
}

.w-120{
    width: 120%;
}

.w-max-350px {
    max-width: 350px;
}

.mg-32{
    margin:32px 0;
}

.pd-t-40 {
    padding-top: 40px;
}

.pd-b-40{
    padding-bottom: 40px;

}

.pd-t-b-80{
    padding:80px 0;
}


.mr-0 {
    margin: 0;
}

.container {
    width: 100%;
   
}

.row {
    display: flex;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    flex-direction: column;
}

.row-re {
    flex-direction: row-reverse;
}

.flex-end {
    align-items: flex-end;
   
}

.text-right{
    text-align: right;
}



.space-around {
    justify-content: space-evenly;
}

.inline-block{
    display: inline-block;
}

/* ------Logo-------- */

.logo-wrap {
    background: linear-gradient(135deg, #CDB892, #F6E3C0, #CDB892);
    text-align: center;
}

.logo-wrap a{
    height: 96px;
    /* display: flex; */
    text-align: center;
    line-height: 96px;
}

.img-logo {
    vertical-align: middle;
}

.nav-main {
    /* background-color: rgb(221, 197, 168,70%) */
    /* background: linear-gradient(180deg, #F6E3C0, rgb(221, 197, 168, 35%)); */

    background-color: rgb(221, 197, 168,0.8) ;
}

.nav-main ul {
    margin: auto;
    color: #4E2F0B;
    display: flex;
    justify-content: center;
}

.nav-main li a {
    margin: 15px 40px;
    display: block;
    font-size: 20px;
    color: #4E2F0B;
    text-decoration: none;
    position: relative;
}

.nav-main li a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #4E2F0B;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}

.nav-main li a:hover::after {
    width: 100%;
}


/* -------------輪播牆------------------ */

.carousel {
    background-color: rgb(255, 222, 178);
    /* margin-top: 100px; */
    height: 500px;
}


/* -------------關於翱翔------------------ */

.content-1 {
    border: 1px solid #E0C6A1;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    margin: 120px 0;
    /* border-radius:0% 90% 0% 90% / 90% 10% 90% 10%; */
    /* overflow: hidden; */
}

.img-index-story {
    width: 45%;
    margin: auto;
    transition: .3s;
    position: relative;
}
 
.img-ct-1{
    /* height: 500px; */
    /* border-radius: 10px; */
    transition: .3s;
    transform: translate(-80px,-60px);
}

.content-lg img{
    transition: .3s;
}

.content-lg:hover img{
    transform: scale(1.05);
}

.about {
    width: 50%;
    /* max-width: 350px; */
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-direction: start; */
    
}

.img-border{
    position: absolute;
    content: '';
    width: 140%;
    height: 120%;

    border-width:1px 1px 1px 1px ;
    border-color: #E0C6A1;
    border-style: solid;

    top: -10%;
    left: -35%;
    bottom: -10%;
}

.img-border-re{
    position: absolute;
    content: '';
    width: 140%;
    height: 120%;

    border-width:1px 1px 1px 1px ;
    border-color: #E0C6A1;
    border-style: solid;

    top: -10%;
    left: -5%;
    bottom: -10%;
}


.h3-mg{
    margin: 0 0px;
}

/* -------景觀----------- */

.title-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-h3{
    width: 160px;
    margin: 0 0 0 15%;
    text-align: start;
}



/* ------------------ */

.content-2 {
    display: flex;
    flex-direction: row;
    margin: 80px 0px;
}

.content-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin: 80px 0px;
}

.about-h3{
    /* text-align: end; */
    /* padding: 10px; */
}

.content-3{
    margin-left: auto;
}




.more-btn,
.more-btn-inner {
    width: 150px;
    height: 60px;
    background-color: bisque;
    margin: 0 auto;

    -webkit-clip-path: polygon(
        15% 0%,
        85% 0%,
        100% 50%,
        85% 100%,
        15% 100%,
        0% 50%
      );

    text-align: center;
    line-height: 60px;
    transition: .3s;
    z-index: 3;
}

.more-btn{
    margin: 32px 10px;
}


.more-btn-inner{
    background:url(../images/img-BG-chalkboard.png);
    transform: scale(.95, .95);
}

.more-btn-inner a{
    color: #d1b682;
    transition: .3s;
}

.more-btn:hover {
    background-color: #f9c35e;
    /* transform: scale(1.1); */
}

.more-btn:hover a{
    color: #f9c35e;
}

.bottom-line{
    height: 1px;
    width: 100%;
    margin: 96px 0;
    background-color: #E0C6A1;
}

.nextcontent-btn {

    display: block;
    width: 240px;
    height: 60px;
    
    margin: auto;
    background-color: bisque;

    -webkit-clip-path: polygon(
        15% 0%,
        85% 0%,
        100% 50%,
        85% 100%,
        15% 100%,
        0% 50%
      );

    text-align: center;
    line-height: 60px;
    transition: .3s;
}

.nextcontent-btn:hover {
    background-color: #f9c35e;
    color: #4b3100;
}


/* --------聯絡---------- */

.contact-wrap{
    padding: 80px 0 104px 0;
}

.title-content {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.contact-t-h3{
    width: 110px;
    text-align: center;
}

.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    text-align: center;
}

.icon img {
    padding: 16px;
}


/* -----------footer--------- */

footer {
    /* background-color: #E0C6A1; */
    background: linear-gradient(135deg, #CDB892, #F6E3C0, #CDB892);
    /* background: linear-gradient(135deg, red, orange); */
    padding: 40px 0;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.footer-wrap p,
a {
    color: #000;
}

.footer-wrap ul {
    display: flex;
}

.footer-wrap ul li {
    letter-spacing: 1.6px;
}

/* .b-r-3 {
    border-right: 3px solid black;
} */


/* -------------------------------roomMenu----------------------------------------------- */

/* .room {
    margin-bottom: 40px;
    position: relative;
    transition: .5s;
    opacity: 0;

} */
.room-1 {
    margin-bottom: 40px;
    position: relative;
    transform: translateX(-10%);
    transition: 1s;
    opacity: 0;
}
.room-2 {
    margin-bottom: 40px;
    position: relative;
    transform: translateX(10%);
    transition: 1s;
    opacity: 0;

}
.room-3 {
    margin-bottom: 40px;
    position: relative;
    transform: translateX(-10%);
    transition: 1s;
    opacity: 0;
}

.room-cotent-wrap {
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 60%);
}

.room-cotent-wrap h3 {
    padding: 0 0 0 0px;
    display: inline-block;
    /* padding: botton;  */
    border-bottom: 3px solid#CDB892;
    color: #fff;
}

.room-cotent-wrap p {
    /* padding: 0; */
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
}

.room-cotent-wrap a {
    color: #E0C6A1;
    position: relative;
}

.btn-more {
    display: inline-block;
    margin: 15px;
}

.btn-more a {
    font-size: 20px;
}

.btn-more a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #E0C6A1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}

.btn-more:hover a::after {
    width: 100%;
}


/* --- */

.reservation-wrap {
    position: relative;
    display: flex;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.bg-reservation {
    width: 100%;
    height: 104px;
    border: 3px solid #E0C6A1;
    background: url(../images/img-roomINT-pic4.png)no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    /* margin-bottom: 80px; */
    transition: .3s;
}

.btn-reservation {
    position: absolute;
    width: 100%;
    height: 104px;
    font-size: 24px;
    text-align: center;
    line-height: 104px;
    color: #E0C6A1;
}

.reservation-wrap:hover .bg-reservation {
    opacity: .3;
}

.reservation-wrap:hover a {
    color: #fff;
}


/* ------------------roomInfo------------------- */

.banner {
    /* display: block; */
    background-image: url(../images/img-roomINT-banner.png);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.title-banner {
    position: absolute;
    bottom: 5%;
    right: 25%;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0)
}

.price { 
    width: 80%;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;
}

.more-btn-book {
    width: 150px;
    height: 60px;
    background-color: bisque;
    text-align: center;
    line-height: 60px;
    transition: .1s;
}

.more-btn-book:hover {
    background-color: rgb(255, 140, 0);
    color: rgb(255, 255, 255);
}

.price-p {
    font-size: 20px;
    font-style: oblique;
    padding: auto;
}

.rules {
    width: 100%;
    display: flex;
    justify-content: center;
}

.room-detail {
    color: #fff;
    width: 30%;
    padding: 0 10%;
}

.title-detail {
    color: #fff;
    border-bottom: 3px solid #FFD9AC;
    padding: 0;
    margin: 16px 0;
}

.detail-s {
    line-height: 1.6;
}


/* ----------------------輪播牆套件----------------------

/* banner */

.swiper {
    width: 100%;
    /* height: 100%; */
    height: 100%;
    
}

.bannerSwiper{
    border-top: 1px solid #E0C6A1;
    border-bottom: 1px solid #E0C6A1;   
}

.swiper-slide {
    

    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.vh{
    height: 100vh;
}


/* room */

.roomSwiper {
    width: 100%;
    padding-top:50px;
    padding-bottom: 50px;
}

.roomSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

    border: 5px solid transparent;
    background: radial-gradient(#d1b682, #F6E3C0, #aa8a4e);
    
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 0px,  rgba(0,0,0,0.3) 0px 7px 1px 0px;
}


.roomSwiper .swiper-wrapper .swiper-slide img{
    display: block;
    width: 100%;
 
    
    /* box-shadow: rgba(0,0,0,1)
    5px 5px 10px 0px;  */

    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 0px,  rgba(0,0,0,0.3) 2px 2px 2px 1px ;
}

.swiper-slide img{
    
}


/* ----------------RWD--------------------- */
@media screen and (max-width:900px){
    h3 {
        color: #FFD9AC;
        font-size: 24px;
        padding: 10px 10px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }
    
    h4 {
        color: #FFD9AC;
        font-size: 20px;
        /* padding: 15px 15px; */
        letter-spacing: 1.6px;
        line-height: 1.6;
    }
    
    p {
        /* font-size: 2vmin; */
        color: #E6D6C3;
        padding: 10px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }
    /* ---index--- */
    .content-1{
        flex-direction: column;
        margin: 80px 0;
    }

    .img-index-story{
        width: 100%;
    }

    .about{
        width: 100%;
        padding: 0;
    }

    /* -------------------index--------------------- */
    .img-ct-1{
        /* height: 500px; */
        /* border-radius: 10px; */
        transition: .3s;
        transform: translate(0px,0px);
    }

    .img-ct-1{
        width: 100%;
    }

    
    

    .img-border{
        position: absolute;
        content: '';
        width: 110%;
        height: 110%;
    
        border-width:1px 1px 1px 1px ;
        border-color: #E0C6A1;
        border-style: solid;
    
        top: -5%;
        left: -9%;
        bottom: -5%;
    }
    
    .img-border-re{
        position: absolute;
        content: '';
        width: 110%;
        height: 110%;
    
        border-width:1px 1px 1px 1px ;
        border-color: #E0C6A1;
        border-style: solid;
    
        top: -5%;
        left: -2%;
        bottom: -5%;
    }

    

    /* ---------------------roomMenu----------------- */

    /* .room {
        margin-bottom: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        
    } */
    .room-1,
    .room-2,
    .room-3 {
        transform: translateX(0%);
    }

    .room-cotent-wrap {
        padding: 10px 10px;
        position: static;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0, 60%);
    }

    .room-cotent-wrap p {
        /* padding: 0; */
        padding: 5px 10px;
        font-size: 14px;
        color: #fff;
    }

    /* -------------roomInfo--------------------- */

}


@media screen and (max-width:600px){
    .row{
        width: 100%;
    }
    
    header{
        display: flex;
        flex-direction: column;
    }

    h3 {
        color: #FFD9AC;
        font-size: 24px;
        padding: 10px 10px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }
    
    p {
        /* font-size: 2vmin; */
        color: #E6D6C3;
        padding: 10px 10px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }

    footer{
        padding: 20px 0;
    }

    .footer-wrap ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-wrap p{
        font-size: 16px;
    }
    .footer-wrap a{
        font-size: 10px;
    }

    .pd-10{
        padding: 0 10px;
    }

    /* -----------Logo---------------- */

    .logo-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
    }

     .img-logo{
        height: 60px;
    }

    .nav-main li a {
        margin: 15px 15px;
        display: block;
        font-size: 20px;
        color: #4E2F0B;
        text-decoration: none;
        position: relative;
    }

    /* -------banner輪播牆-------- */
    .swiper {
        width: 100%;
        height: 100%;
    }

    .vh{
        height: 60vh;
    }
   
    .roomSwiper .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
    }


    /* ---------------------Index----------------- */
    .content-1{
        margin: 40px 0;
    }
 

    /* ----景觀---- */

    .t-h3{
        margin: 0 ;
    }

    .pd-t-b-80{
        padding:40px 0;
    }

    /* -----房型----- */

    .content-2,
    .content-3{
        flex-direction: column;
        margin: 40px 0px;
    }
    
    .img-index-story{
        width: 95%;
    }

    .about-h3{
        text-align: start;
    }

    .m-h-300{
        height: 300px;
        object-fit: cover;
    }

    .img-border,
    .img-border-re{
        display: none;
    }

    .flex-end{
        align-items: flex-start;
    }

    .more-btn{
        margin: 32px auto;
    }

    /* ---- */
    .bottom-line{
        margin: 32px 0;
    }

    /* ---- */

    .contact-wrap{
        padding: 40px 0 56px 0;
    }
   
    /* ----footer */

    .footer-wrap p{
        padding: 10px 10px;
        letter-spacing: 1px;
        line-height: 1;
    }
    /* --------------------roomInfo---------------- */

    .banner{
        height: 60vh;
    }
}